@use '../../../styles/variables';
@use '../../../styles/functions';

$-top-5: -1.25rem;

.container {
  display: flex;
  flex-direction: column;
  gap: variables.$g-3;

  position: absolute;
  bottom: variables.$p-3;
  right: variables.$p-3;

  width: 75%;
}

.select {
  display: flex;
  align-items: center;

  border-width: variables.$border-2;
  border-radius: functions.radius(xl);

  position: relative;

  box-shadow: variables.$shadow-sm;

  .selectLabel {
    position: absolute;
    left: variables.$p-3;
    top: $-top-5;

    font-weight: functions.weight(semibold);
    color: variables.$text-gray-300;

    background-color: variables.$bg-white;

    padding: 0 variables.$p-2;
  }

  .selectValue {
    padding: variables.$p-2 variables.$p-4;
  }

  .selectBtn {
    position: absolute;
    right: variables.$p-3;

    &:focus {
      outline: none;
    }

    svg {
      transform: rotate(0);
      transition: transform 200ms ease-out;
      will-change: transform;

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
}

.dropdownContainer {
  border-width: variables.$border;
  border-radius: functions.radius(xl);

  font-weight: functions.weight(semibold);

  padding: variables.$p-3;
  box-shadow: variables.$shadow-sm;

  z-index: 10;

  .dropdownList {
    display: flex;
    flex-direction: column;
    gap: variables.$g-2;

    .dropdownItem {
      padding: variables.$p-1;

      border-radius: functions.radius(md);
      cursor: pointer;

      &:hover {
        background-color: variables.$bg-gray-100;
      }

      button {
        text-align: left;

        margin-left: variables.$m-2;

        height: 100%;
        width: 100%;

        font-weight: functions.weight(semibold);

        &:focus {
          outline: none;
        }
      }
    }
  }
}
