@use '../../styles/variables';
@use '../../styles/functions';
@use '../../styles/breakpoints';

.active {
  background-color: variables.$bg-primary;
  color: variables.$text-white;
}

.inactive {
  &:hover {
    background-color: variables.$bg-gray-50;
  }
}

.aside {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;

  width: 16rem;
  height: 100%;

  display: none;

  @include breakpoints.media-lg {
    display: flex;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: variables.$g-4;

  width: 100%;
  height: 83.3333%;

  font-size: variables.$text-2xl;

  a {
    display: inherit;
    align-items: center;
    gap: variables.$g-2;

    padding-left: variables.$p-6;
    padding-right: variables.$p-14;
    padding-top: variables.$p-3;
    padding-bottom: variables.$p-3;

    font-size: variables.$text-xl;
    font-weight: functions.weight(extrabold);

    border-top-right-radius: functions.radius(full);
    border-bottom-right-radius: functions.radius(full);
  }
}
